@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans';
	color: #a6adc8;
	background: conic-gradient(
		from 180deg at 50% 50%,
		#f4dbd6 0deg,
		#f0c6c6 23.4000018239deg,
		#f5bde6 50.0333958864deg,
		#c6a0f6 75.6000030041deg,
		#ed8796 104.4000291824deg,
		#ee99a0 127.800039053deg,
		#f5a97f 153.0000472069deg,
		#eed49f 178.200044632deg,
		#a6da95 203.4000635147deg,
		#8bd5ca 230.4000592232deg,
		#91d7e3 253.8000583649deg,
		#b7bdf8 280.800075531deg,
		#ddafee 309.6000051498deg,
		#f3c1d6 333.0000042915deg,
		#f4dbd6 360deg
	);
	background-size: cover;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	transition: all 0.3s ease !important;
}

.backdrop {
	background-color: #1e1e2e;
	position: absolute;
	left: 5px;
	top: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	z-index: 0;
}

.iframeWindow {
	position: absolute;
	width: calc(100vw - 10px);
	height: calc(100vh - 100px - 20px);
	border: 0;
	padding: 0;
	margin: 0;
	left: 5px;
	top: 60px;
	background-color: #1e1e2e;
	z-index: 0;
}

.topBar {
	position: absolute;
	width: calc(100vw - 10px);
	height: 50px;
	border: 0;
	padding: 0;
	margin: 0;
	left: 5px;
	top: 5px;
	background-color: #1e1e2e;
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buttonDisabled {
	background-color: grey;
	cursor: not-allowed;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.65);
}

#controls {
	height: 50px;
	display: flex;
	flex-direction: row;
	margin-left: 0.5rem;
	font-size: 20px;
	transition: all 0.3s ease !important;
}

.controlsButton {
	transition: all 0.3s ease !important;
	margin: 0.5rem;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
}
.controlsButton:hover {
	text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
	color: #c3c8db;
}

#websiteTitle {
	margin: 0.6rem;
	margin-right: 1rem;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	height: 50px;
	font-size: 20px;
	justify-content: right;
	align-items: flex-end;
	width: 450px;
	text-align: right;
}

#firstVisitPopup,
#overlay {
	transition: background-color 0.2s ease;
}

#urlInput {
	background: transparent;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	transition: all 0.3 ease !important;
	caret-color: transparent;
}
#urlInput:hover,
#urlInput:focus,
#urlInput:focus-visible {
	text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
	color: #c3c8db;
	outline: none;
}
#urlInput::placeholder {
	transition: none !important;
	animation: blink 1s infinite !important;
}

.search {
	margin: 0.6rem;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	height: 50px;
	font-size: 20px;
	transform: translateX(17.5vw);
	transition: all 0.3s ease !important;
}

#switcherButton {
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	transition: all 0.3 ease !important;
}
#switcherButton:hover {
	text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
	color: #c3c8db;
}

.middleButton {
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	transition: all 0.3s ease;
	user-select: none;
}
.middleButton:hover {
	text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
	color: #c3c8db;
	cursor: pointer;
	user-select: auto;
}

.botBar {
	position: absolute;
	width: calc(100vw - 10px);
	height: 50px;
	border: 0;
	padding: 0;
	margin: 0;
	left: 5px;
	bottom: 5px;
	background-color: #1e1e2e;
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#creditsPfp {
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

#creditsText {
	margin-left: 0.6rem;
}

#credits {
	margin: 0.6rem;
	height: 50px;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	transition: all 0.3s ease !important;
	align-items: center;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
}

#me {
	transition: all 0.3s ease;
}
#me:hover {
	text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
	color: #c3c8db;
	cursor: pointer;
}

#middleButtons {
	margin: 0.6rem;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	height: 50px;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	user-select: none;
}

#botClock {
	margin: 0.6rem;
	margin-right: 1rem;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	font-size: 20px;
	justify-content: right;
	align-items: flex-end;
	text-align: right;
	display: flex;
} /*# sourceMappingURL=index.css.map */
