@import 'globals.scss';

html,
body {
	user-select: none;
}

.pageNotFound {
	z-index: 100;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 25vh;
	border: 0.536vh solid transparent;
	height: 4rem;
	border-radius: 1.4rem;
	border-right-color: #a6adc8;
	padding-right: 1em;
	margin-right: 1em;
}

.pageNotFoundText {
	z-index: 100;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 25vh;
}

.kaomoji {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(50vh);
	font-size: 4rem;
}
