@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans';
	color: #a6adc8;
	background: conic-gradient(
		from 180deg at 50% 50%,
		#f4dbd6 0deg,
		#f0c6c6 23.40000182390213deg,
		#f5bde6 50.033395886421204deg,
		#c6a0f6 75.6000030040741deg,
		#ed8796 104.40002918243408deg,
		#ee99a0 127.80003905296326deg,
		#f5a97f 153.00004720687866deg,
		#eed49f 178.200044631958deg,
		#a6da95 203.40006351470947deg,
		#8bd5ca 230.40005922317505deg,
		#91d7e3 253.80005836486816deg,
		#b7bdf8 280.80007553100586deg,
		#ddafee 309.6000051498413deg,
		#f3c1d6 333.0000042915344deg,
		#f4dbd6 360deg
	);
	background-size: cover;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

.backdrop {
	background-color: #1e1e2e;
	position: absolute;
	left: 5px;
	top: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	z-index: 0;
}
