@import 'globals.scss';

.iframeWindow {
	position: absolute;
	width: calc(100vw - 5px * 2);
	height: calc(100vh - 50px * 2 - 5px * 4);
	border: 0;
	padding: 0;
	margin: 0;
	left: 5px;
	top: 60px;
	background-color: #1e1e2e;
	z-index: 0;
	transition: all 0.3s ease !important;
	&.settingsOpen {
		width: calc((100vw - 5px * 2) - (40vw - 5px * 2) - 5px);
	}
}

.settingsWindow {
	position: absolute;
	width: 0;
	height: calc(100vh - 50px * 2 - 5px * 4);
	border: 0;
	padding: 0;
	margin: 0;
	right: 5px;
	top: 60px;
	background-color: #1e1e2e;
	z-index: 0;
	transition: all 0.3s ease !important;
	transform: translateX(100%);
	&.settingsOpen {
		font-size: 2vh !important;
		transform: translateX(0);
		width: calc(40vw - 5px * 2);
	}
}

#settingsButton {
	&.settingsOpen {
		text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
		color: #c3c8db;
		cursor: pointer;
		user-select: auto;
	}
}

.settingsTitle {
	text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8) !important;
	color: #c3c8db !important;
	cursor: pointer;
	user-select: auto;
	width: calc(35vw - 5px * 2);
	text-align: center;
	font-size: calc(0.5vw + (3.5vh + 30px) / 5 + 5px) !important;
	margin-top: 2rem;
	margin-bottom: 1.2rem;
}

.settingsComponent {
	display: none;
	color: transparent;
	background-color: transparent;
	font-size: calc(0.5vw + (3.5vh + 20px) / 5);
	transition: all 0.3s ease !important;
	transition-delay: 300;
	transition-property: display;
	font-style: italic;
	user-select: none;
	text-shadow: 0px 0px 0px transparent;
	&.settingsOpen {
		display: block;
		text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
		color: #a6adc8;
		user-select: auto;
	}
}

#titleInput,
#faviconInput,
#panicButtonInput,
#clearCookiesInput,
#disableSplashInput {
	background: transparent;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	transition: all 0.3 ease !important;
	caret-color: transparent;
	width: 200px;
	&:hover,
	&:focus,
	&:focus-visible {
		text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
		color: #c3c8db;
		outline: none;
	}
	&::placeholder {
		transition: none !important;
	}
}

.titleCloak,
.faviconCloak,
.panicButton,
.clearCookies,
.disableSplash,
.infoContainer,
.defaultInputWarning {
	margin: 2vh;
}

.defaultInputWarning {
	color: #a6adc8;
	opacity: 0.5;
}

#reloadButton {
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	transition: all 0.3 ease !important;
	&:hover {
		text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
		color: #c3c8db;
	}
}

#reloadButton2 {
	display: none;
}

.msgEnd {
	background-color: #a6adc8;
	color: #1e1e2e;
	box-shadow: 0px 0px 4px rgba(166, 173, 200, 0.65);
	text-shadow: 0 0 0 transparent;
}

.topBar {
	position: absolute;
	width: calc(100vw - 5px * 2);
	height: 50px;
	border: 0;
	padding: 0;
	margin: 0;
	left: 5px;
	top: 5px;
	background-color: #1e1e2e;
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buttonDisabled {
	background-color: grey;
	cursor: not-allowed;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.65);
}

#controls {
	height: 50px;
	display: flex;
	flex-direction: row;
	margin-left: 0.5rem;
	font-size: 20px;
	transition: all 0.3s ease !important;
}

.controlsButton {
	transition: all 0.3s ease !important;
	margin: 0.5rem;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	&:hover {
		text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
		color: #c3c8db;
	}
}

#websiteTitle {
	margin: 0.6rem;
	margin-right: 1rem;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	height: 50px;
	font-size: 20px;
	justify-content: right;
	align-items: flex-end;
	width: 350px;
	text-align: right;
}

#firstVisitPopup,
#overlay {
	transition: background-color 0.2s ease;
}

#urlInput {
	background: transparent;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	transition: all 0.3 ease !important;
	caret-color: transparent;
	&:hover,
	&:focus,
	&:focus-visible {
		text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
		color: #c3c8db;
		outline: none;
	}
	&::placeholder {
		transition: none !important;
	}
}

.search {
	margin: 0.6rem;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	height: 50px;
	font-size: 20px;
	left: 50%;
	transform: translateX(-25%);
	position: absolute;
	transition: all 0.3s ease !important;
}

#switcherButton {
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	transition: all 0.3 ease !important;
	&:hover {
		text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
		color: #c3c8db;
	}
}

#switcherButton2,
.qExample {
	text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
	color: #c3c8db;
	font-style: italic;
}

.middleButton {
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	transition: all 0.3s ease;
	user-select: none;
	&:hover {
		text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
		color: #c3c8db;
		cursor: pointer;
		user-select: auto;
	}
}

.botBar {
	position: absolute;
	width: calc(100vw - 5px * 2);
	height: 50px;
	border: 0;
	padding: 0;
	margin: 0;
	left: 5px;
	bottom: 5px;
	background-color: #1e1e2e;
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#creditsPfp {
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

#creditsText {
	margin-left: 0.6rem;
}

#credits {
	margin: 0.6rem;
	height: 50px;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	transition: all 0.3s ease !important;
	align-items: center;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
}

#me {
	transition: all 0.3s ease;
	&:hover {
		text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
		color: #c3c8db;
		cursor: pointer;
	}
}

#middleButtons {
	margin: 0.6rem;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	height: 50px;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	user-select: none;
}

#botClock {
	margin: 0.6rem;
	margin-right: 1rem;
	font-style: italic;
	text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
	font-size: 20px;
	justify-content: right;
	align-items: flex-end;
	text-align: right;
	display: flex;
}

#termText {
	min-width: 93px !important;
}

#termTextTitle {
	width: 150px !important;
}

#termTextFavicon {
	width: 200px !important;
}

#termTextYN {
	width: 50px !important;
}

#termTextYNContainer {
	display: flex;
	flex-direction: row;
}

.titleCloak,
.faviconCloak {
	width: 150px;
}

@media (max-width: 1150px) {
	#websiteTitle {
		display: none;
	}

	#middleButtons {
		display: none;
	}

	.topBar {
		flex-direction: row-reverse;
	}

	.search {
		transform: translateX(0) !important;
		position: relative;
		flex-grow: 1;
		display: flex !important;
		flex-direction: row;
		position: absolute;
		top: 0;
		left: 0;
		text-overflow: clip;
	}

	#switcherButton {
		height: auto;
		transform: translateY(-10px);
	}

	#urlInput {
		flex-grow: 1;
		transform: translateY(-10px) !important;
		margin-left: 5px;
		width: calc(100vw - 207px) !important;
		min-width: 10px !important;
	}

	.iframeWindow {
		position: absolute;
		width: calc(100vw - 5px * 2);
		height: calc(100vh - 50px * 2 - 5px * 4);
		border: 0;
		padding: 0;
		margin: 0;
		left: 5px;
		top: 60px;
		background-color: #1e1e2e;
		z-index: 0;
		&.settingsOpen {
			width: calc((100vw - 5px * 2) - (35vw - 5px * 2) - 5px);
		}
	}

	.settingsWindow {
		position: absolute;
		width: 0;
		height: calc(100vh - 50px * 2 - 5px * 4);
		border: 0;
		padding: 0;
		margin: 0;
		right: 5px;
		top: 60px;
		background-color: #1e1e2e;
		z-index: 0;
		display: none;
		&.settingsOpen {
			display: block;
			width: calc(35vw - 5px * 2);
		}
	}

	#switcherButton {
		display: none;
	}

	#searchAt {
		display: none;
	}

	#reloadButton {
		display: none;
	}

	#reloadButton2 {
		display: block;
		font-style: italic;
		text-shadow: 0px 0px 4px rgba(166, 173, 200, 0.75);
		transition: all 0.3 ease !important;
		&:hover {
			text-shadow: 0px 0px 4px rgba(184, 189, 206, 0.8);
			color: #c3c8db;
		}
	}

	.settingsComponent {
		display: none;
	}

	#searchAt {
		display: none;
	}
}
