@import 'globals.scss';

.iframeWindow {
	position: absolute;
	width: calc(100vw - 5px * 2);
	height: calc(100vh - 50px * 2 - 5px * 4);
	border: 0;
	padding: 0;
	margin: 0;
	left: 5px;
	top: 60px;
	background-color: #1e1e2e;
	z-index: 0;
}

.topBar {
	position: absolute;
	width: calc(100vw - 5px * 2);
	height: 50px;
	border: 0;
	padding: 0;
	margin: 0;
	left: 5px;
	top: 5px;
	background-color: #1e1e2e;
	z-index: 0;
}

.botBar {
	position: absolute;
	width: calc(100vw - 5px * 2);
	height: 50px;
	border: 0;
	padding: 0;
	margin: 0;
	left: 5px;
	bottom: 5px;
	background-color: #1e1e2e;
	z-index: 0;
}
.buttonDisabled {
	background-color: grey;
	cursor: not-allowed;
}
